<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>892734723976-8cllhep1uuhefgso8odtvl6k6aeovkfl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCenEbIcu70uq48izXZJHG3ojsQZBTqN2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>892734723976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesusdmedinac.gobus.Gobus</string>
	<key>PROJECT_ID</key>
	<string>gobus-260206</string>
	<key>STORAGE_BUCKET</key>
	<string>gobus-260206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892734723976:ios:427c62c9d13acec3c9cc3d</string>
	<key>DATABASE_URL</key>
	<string>https://gobus-260206.firebaseio.com</string>
</dict>
</plist>